<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BroadcasterReporting.Properties.Settings.OnAirConnectionString"
            connectionString="Data Source=SERVIDOR\HIGHPRECISION;Initial Catalog=OnAir;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>